/* Específico para la página principal (index.html) */

/* Estilo para la sección de bienvenida */
.bienvenida {
  background-color: #f39c12;
  color: white;
  padding: 3rem 1rem;
}

.bienvenida h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.bienvenida p {
  font-size: 1.3rem;
}

/* Ajustes en la visualización de los destinos en pantallas más pequeñas */
@media (max-width: 768px) {
  .destinos {
    flex-direction: column;
    align-items: center;
  }

  .destino-item {
    width: 80%;
    margin: 10px 0;
  }
}

@media (max-width: 480px) {
  .destinos {
    padding: 1rem;
  }

  .destino-item {
    width: 100%;
  }
}
