/* Estilos globales para todo el sitio */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
}

header {
  background-color: #333;
  color: white;
  padding: 1rem 0;
  text-align: center;
}

header .logo h1 {
  font-size: 2rem;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

nav ul li {
  margin: 0 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
}

nav ul li a:hover {
  text-decoration: underline;
}

/* Footer */
footer {
  background-color: #333;
  color: white;
  padding: 1rem 0;
  text-align: center;
}

/* Sección de bienvenida */
.bienvenida {
  background-color: #fff;
  text-align: center;
  padding: 2rem 1rem;
}

.bienvenida h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.bienvenida p {
  font-size: 1.1rem;
  color: #555;
}

/* Estilo de las tarjetas de destino */
.destinos {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 2rem;
  background-color: #f4f4f4;
}

.destino-item {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 30%;
  margin: 10px;
  text-align: center;
  padding: 1rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.destino-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.destino-item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
}

.destino-item h3 {
  margin-top: 1rem;
  font-size: 1.5rem;
  color: #333;
}

.destino-item p {
  margin: 1rem 0;
  color: #777;
}

.destino-item a {
  text-decoration: none;
  color: #f39c12;
  font-weight: bold;
}

.destino-item a:hover {
  text-decoration: underline;
}
