.info-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
    position: relative;
top: 100px;
left: 40px;
}

nav{
    position: sticky;
top: 20px;
z-index: 1000;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    width: 100%;
    background-color: #e1e1e127;
    padding: 10px 20px;
}
.productos{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
}
.productos-titulo{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
}
.productos-catalogo{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}
.productos-card{
    width: 20vw;
    height: 30vh;
}
